html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* base */
body {
    font-family: 'Bruno Ace SC', sans-serif;
    line-height: 1.5;
}

*, *::before, *::after {
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}


/* layout */
.header{
    background-color: #000;
    color: #D1D1D1;
    padding: 40px 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* component */
.btn{
    padding: 12px 24px;
    border-radius: 32px;
}
.btn-light{
    background-color: #fff;
    color: #000;
}
.btn-dark{
    background-color: #000;
    color: #fff;
}
/* page */
.banner{
    background-color: #000;
    color:#fff;
    padding: 40px 0;
}
.banner-title-strong{
    display: block;
    text-align: right;
} 
.intro{
    background-image: url('img/background-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 160px 0;
}
.intro-desc{
    width: 526px;
}
.about{
    padding: 160px 0;
}
.about-list{
    width: 636px;
    flex-wrap: wrap;
    gap: 24px;
}
.about-list li{
    width: 48%;
    border: 1px solid #E3E3E3;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.08);

}
.about-desc{
    width: 526px;
}
.contact{
    background: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);
    padding: 96px 0;
    color: #fff;
}

.social-link{
    border-radius: 40px;
    width: 162px;
}
.social-link:hover{
    box-shadow: 0px 0px 16px 3px #9094FFE5;
    transition: 0.3s;
}
.project{
    padding: 160px 0;
}
.project-title{
    width: 746px;
    margin-left: auto;
}
.footer{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 40px 0;

}
/* utils */
.container{
    width:1296px;
    margin: 0 auto;
}
.h1{
    font-size: 128px;
}
.h2{
    font-size: 64px;
}
.fs-1{
    font-size: 32px;
}
.fs-2{
    font-size: 24px;
}
.fs-3{
    font-size: 20px;
}
.fs-4{
    font-size: 16px;
}
.text-primary{
    color: #00ffa3;
}
.d-flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.aic{
    align-items: center;
}
.ais{
    align-items: start;
}
.jcb{
    justify-content: space-between;
}
.jce{
    justify-content: flex-end;
}
.p-16{
    padding: 16px;
}
.pl-20{
    padding-left: 20px;
}
.mr-6{
    margin-right: 24px;
}
.mr-20{
    margin-right: 20px;
}
.mr-24{
    margin-right: 24px;
}
.mr-113{
    margin-right: 113px;
}
.mb-4{
    margin-bottom: 4px;
}

.mb-6{
    margin-bottom: 24px;
}
.mb-28{
    margin-bottom: 28px;
}
.mb-32{
    margin-bottom: 32px;
}
.mb-36{
    margin-bottom: 36px;
}